.display {
    border: solid black 1px;
    border-radius: 25px;
    background-color:rgb(231, 246, 231, 0.8);
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
    color: black;
    font-family: 'Luckiest Guy', cursive;
}

h3 {
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0 0.5em 0 0.5em;
}

.name-container {
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    padding: 0.5em;
}

em {
    font-size: 12px;
}

.pokemon-front {
    width: 5em;
    height: 5em;
}

.moves-list {
    font-size: 16px;
    max-height: 20em;
    overflow: scroll;
    color: black;
    border: solid black 3px;
    border-radius: 15px;
    padding: 1em;
    background-color: white;
    margin-left: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.types-list {
    font-size: 16px;
    border: solid black 3px;
    border-radius: 15px;
}

.search-container {
    display: flex;
    flex-direction: row;
    padding: .5em;
    justify-content: flex-end;
}

.search-input {
    height: 2.2em;
    border-radius: 15px;
    padding: 0.5em 0 0.5em 0.5em;
    /* margin-right: -0.5em; */
    font-size: 18px;
    width: 100%;
}

.search-button {
    background-color: rgb(245, 228, 250);
    color: black;
    border-radius: 15px;
    font-size: 1.2em;
    padding: 0.5em;
    margin: 0 0.5em;
    border: solid black 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

/* Make shiny button shiny and pretty */
@keyframes TransitioningBackground {
    0% {
      background-position: 1% 0%;
    }
    50% {
      background-position: 99% 100%;
    }
    100% {
      background-position: 1% 0%;
    }
  }

.shiny-button {
    background-color: #b8b8b8;
    background-image: url(https://i.pinimg.com/originals/02/d1/f2/02d1f250748028e83d8e5f3ea636f581.gif);
    width: 8em;
    border-radius: 15px;
    padding: 0.5em;
    color: black;
    cursor: pointer;
    border: solid rgba(184, 184, 184, 0.219) 3px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin-top: 0.5em;
    background-size: cover;
}

.normal-button {
    background-color: rgb(245, 228, 250);
    width: 8em;
    border-radius: 15px;
    padding: 0.5em;
    color: black;
    cursor: pointer;
    border: solid black 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 0.5em;
}

.loading {
    animation: App-logo-spin infinite 5s linear;
    width: 10em;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0.5em;
}

.evolve-container {
    color: black;
    border: solid black 3px;
    border-radius: 15px;
    max-height: 30em;
    padding: 1em 0 0 0;
    background-color:rgb(255, 255, 255, 0.7);
    margin-top: 0.5em;
}

.evolves-list {
    display: flex;
    flex-direction: row;
    /* width: 80%; */
    font-size: 18px;
    overflow: hidden;
}

@media only screen and (min-width: 500px) {
    .evolves-list {
        justify-content: center;
    }
}

.evolve-item {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-around;
    font-size: 16px;
    cursor: pointer;
}

.evolImg {
    margin-bottom: -0.75em;
    width: 110px;
    height: 110px;
}

.arrow {
    font-size: 2em;
    font-weight: bold;
    margin: auto 0;
    white-space: nowrap;
}

.data-rows {
    color: black;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1em;
    background-color: white;
    border: solid black 3px;
    border-radius: 15px;
    margin-top: 0.5em;
}

.varieties-box {
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: 60% 50%;
    max-width: 100%;
    background-color: rgb(240, 255, 255, 0.9);
    border: solid white 3px;
    border-radius: 15px;
    padding: 0.25em;
    white-space: nowrap;
    /* text-align: center; */
    /* max-height: 20em; */
}

.variety-btn {
    font-size: 0.9em;
    background-color: rgb(245, 228, 250);
    height: 1em;
    width: fit-content;
    padding: 0.5em;
    color: black;
    cursor: pointer;
    border: solid black 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    margin-top: 0.5em;
}

p {
    margin: 0;
}